
    <% include partials/header %>

    <div class="row">
            <h1 style="text-align:center">Students Management App</h1>
    
    <div style="width:30%; margin: 0 auto;">   
    <a href="/students/new" class="btn btn-primary btn-lg btn-block">Add Student</a> <br>
    <a href="/students/show" class="btn btn-primary btn-lg btn-block">All Students List</a><br>
    <a href="/students/search" class="btn btn-primary btn-lg btn-block">Find Students by Geocode</a>
    </div>
    </div>

    <% include partials/footer %>
