
<% include partials/header %>
<div style="width:30%; margin: 0 auto;">
    <form action="/students/searchgeocode" method="GET" >
        <div class="form-group">
            <input type="text" class="form-control" name="geocode" placeholder="Enter Geocode">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Search</button>
        </div>
    
    </form>
</div>
<% include partials/footer %>

